<%- include("../includes/header.ejs", {extra : ' overflow: hidden', title: result[0].display_name, url: result[0].team_image_url}); %>
<div class="minytbox">
    <a href="javascript:history.back()"><h4><< go back</h4></a>
</div>
<div class="minytbox">
    <a href="/team/all"><h4><< Teams</h4></a>
</div>
<br>
<div class="transbox " >
    <h1><%= result[0].team_name %></h1>
    <% if(member instanceof Array) { %>
    <ul>
        <% for(var i=0; member.length > i; i++ ) { %>
        <a href="/individual/?individual_id=<%= member[i].individual_id %>">
        <%= member[i].display_name %><br>
        </a>
        <% } %>
    </ul>
    <% } %>
    <% if(!(member instanceof Array)) { %>
    <ul>
        <a href="/individual/?individual_id=<%= member[j].individual_id %>">
        <%= member[j].display_name %><br>
        </a>
    </ul>
    <% } %>
</div>
</body>
</html>
