<%- include("../includes/header.ejs", {extra : ' overflow: hidden', title: result[0].display_name, url: result[0].team_image_url}); %>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" background=<%= result[0].team_image_url %>>
<div id="wrapper">
    <%- include("../includes/navbar.ejs"); %>
    <container>
        <div class="row">
            <div class="transbox">

    <h1 align="center"><%= result[0].team_name %></h1>
    <% if(member instanceof Array) { %>
    <ul>
        <% for(var i=0; member.length > i; i++ ) { %>
        <a href="/individual/?individual_id=<%= member[i].individual_id %>">
        <%= member[i].display_name %><br>
        </a>
        <% } %>
    </ul>
    <% } %>
    <% if(!(member instanceof Array)) { %>
    <ul>
        <a href="/individual/?individual_id=<%= member[j].individual_id %>">
        <%= member[j].display_name %><br>
        </a>
    </ul>
    <% } %>
</div>
</div>
</container>
<footer class="text-center">
</footer>
</div>





</body>
</html>