<%- include("../includes/header.ejs", {extra: '', title:"Characters - View All", url:"http://www.solidbackgrounds.com/images/2560x1440/2560x1440-black-solid-color-background.jpg"}); %>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<%- include("../includes/navbar.ejs"); %>
            <container>
            <h1 align="center">Characters</h1>
                <div class="row">
                <% for(var i=0; result.length > i; i++ ) { %>
                    <div class="col-sm-3">
                        <a href="/individual/?individual_id=<%= result[i].individual_id %>">
                            <p  class="text-center"><strong><%= result[i].display_name %></strong></p>
                            <img src="<%= result[i].image_url %>" class="img-thumbnail feature" alt="<%= result[i].display_name %>">
                        </a>
                    </div>
                <% } %>
                </div>
            </container>
        <br>
            <footer class="text-center">
                <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </footer>
    </body>
</html>


